:root {
  --white: #000;
  --black: #fff;
  --powder-blue: #B7EAEA;
  --purple: #8C1F80;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Hanged-Letters";
  src: url("../fonts/HangedLetters/Hanged-Letters.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--powder-blue);
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 1em;
  color: var(--purple);
}

main {
  padding: 2rem;
}

.header {
  max-width: 25rem;
  min-width: 20rem;
  margin: 0 auto;
  text-align: center;
}

.header__title {
  position: relative;
  margin: 1rem;
  text-align: center;
  font-family: 'Hanged-Letters', sans-serif;
  font-size: 3rem;
  /* animation: dropElement 1s forwards;
  animation-delay: 1s; */
}

.header__title::before {
  content: '';
  display: block;
  position: absolute;
  top: -.8rem;
  width: 100%;
  border-bottom: 3px solid var(--purple);
}

.header__logo {
  position: relative;
  width: 5rem;
}

.books-overview__card__image {
  width: 15rem;
}

@keyframes dropElement {
  0% {
    margin: -10rem;
  }
  100% {
    margin: 1rem;
  }
}
